body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
    border: 1px solid white;
}

.title {
  background: #e3f4ff;
    padding: 10px;
    margin:10px;
}

.content {
  background: #e3f4ff;
    margin:10px;
    padding: 10px;
}

.button-container {
  background: #e3f4ff;
    padding: 10px;
    margin:10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: white;
}